
<aside id="menu">
	<div id="navigation">
		<div class="profile-picture">
			<a href="#">
				<img id="dashPhoto" src="@Url.Content("~/Content/images/profile.jpg")" class="img-circle m-b" alt="logo">
			</a>
			<div class="stats-label text-color">
				<span  id="dashName" class="font-extra-bold font-uppercase"></span>
				<div class="dropdown">
					<a class="dropdown-toggle" href="#" data-toggle="dropdown">
						<small id="txtHomeUsername" class="text-muted">Super Admin <b class="caret"></b></small>
					</a>
					<ul class="dropdown-menu animated flipInX m-t-xs">
						<li class="act"><a href="@Url.Action("ChangePassword", "AdminLogin")">Change Password</a></li>
						<li ><a class="btnleftProfile" href="#" >Profile</a></li>
						<li><a href= "@Url.Action("Index", "AdminUser")" >Admin Users</a></li>
						<li class="divider"></li>
						<li><a class="btnLogout" href="#">Logout</a></li>
					</ul>
				</div>

				<div id="sparkline1" class="small-chart m-t-sm"></div>

			</div>
		</div>
		<ul class="nav" id="side-menu">
			<li id="mnuHome"  class="act">
				<a href="@Url.Action("Index", "AdminHome")"> <span class="nav-label">Dashboard</span> </a>
			</li>
			<li id="mnuCountry"  class="act">
				<a href="@Url.Action("Index", "AdminCountry")"> <span class="nav-label">Country Managment</span> </a>
			</li>
			<li id="mnuCM" class="act">
				<a><span class="nav-label">Category Managment</span><span class="fa arrow"></span> </a>
				<ul class="nav nav-second-level">
					<li id="mnuCMM"><a href="@Url.Action("Index", "AdminCategory")">Category</a></li>
					<li id="mnuCMSub"><a href="@Url.Action("Index","AdminSubCategory")">Sub Category </a></li>

				</ul>
			</li>
			<li id="mnuUM"  class="act">
				<a><span class="nav-label">User Managment</span><span class="fa arrow"></span> </a>
				<ul class="nav nav-second-level">
					<li id="mnuUMSeller"  class="act" ><a href="@Url.Action("Index", "AdminSeller")">Seller</a></li>
					<li id="mnuUMBuyer"  class="act" ><a href="@Url.Action("Index","AdminBuyer")">Buyer</a></li>
					<li id="mnuUMFeatureUser"  class="act" ><a href="@Url.Action("Index","AdminFeatureUser")">Feature User</a></li>

				</ul>
			</li>
			<li id="mnuMeal" class="act">
				<a href="@Url.Action("Index", "AdminMeal")"> <span class="nav-label">Meal Managment</span> </a>
			</li>
			<li  id="mnuDeal"class="act">
				<a href="@Url.Action("Index", "AdminDeal")"> <span class="nav-label">Deal Managment</span> </a>
			</li>
			<li  id="mnuOrder" class="act">
				<a href="@Url.Action("Index", "AdminOrder")"> <span class="nav-label">Order Managment</span> </a>
			</li>
			<li  id="mnuNotice" class="act">
				<a href="@Url.Action("Index", "AdminNotification")"> <span class="nav-label">Notification</span> </a>
			</li>
			<li  id="mnuContact" class="act">
				<a href="@Url.Action("Index", "AdminContactUs")"> <span class="nav-label">Contact Managment</span> </a>
			</li>
		</ul>
	</div>
</aside>

