@{

    ViewBag.Title = "Tashty | Seller Registration";
    int id = (int)ViewData["profileID"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>


    @Scripts.Render("~/bundles/modernizr")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="icon" type="image/png" href="~/Content/New/images/logo/fevicon.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/New/vendor/bootstrap/css/bootstrap.min.css">
    <href ="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"></href>
    @Styles.Render("~/Content/dropzonecss")
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--=========================================~/Content/New/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--=========================================~/Content/New/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/vendor/animate/animate.css">
    <!--=========================================~/Content/New/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/vendor/css-hamburgers/hamburgers.min.css">
    <!--=========================================~/Content/New/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/vendor/animsition/css/animsition.min.css">
    <!--=========================================~/Content/New/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/vendor/select2/select2.min.css">
    <!--=========================================~/Content/New/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/vendor/daterangepicker/daterangepicker.css">
    <!--=========================================~/Content/New/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/vendor/slick/slick.css">
    <!--=========================================~/Content/New/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/vendor/lightbox2/css/lightbox.min.css">
    <!--=========================================~/Content/New/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/New/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--=========================================~/Content/New/======================================================-->
    <link href="~/Content/New/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    <link href="~/Content/styles/fileinput.css" rel="stylesheet" />
    <link href="~/Content/vendor/sweetalert/lib/sweet-alert.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/Content/img/fevicon.png" />
    <link href="~/Content/New/css/dashboard-style.css" rel="stylesheet" />
    <link href="~/Content/New/css/profilesettings.css" rel="stylesheet" />
    <link href="~/Content/vendor/select2-3.5.2/select2.css" rel="stylesheet" />
    <link href="~/Content/vendor/select2-bootstrap/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/vendor/ladda/dist/ladda.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/bootstrap-star-rating/css/star-rating.css" rel="stylesheet" />
    <link href="~/Content/New/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Content/New/css/dashboard-style.css" rel="stylesheet" />
    <link href="~/Content/New/css/profilesettings.css" rel="stylesheet">
    <link href="~/Content/New/css/home.css" rel="stylesheet">
    <link href="~/Content/vendor/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/blockUI/block.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


</head>
<body id="page-top">
    <style>
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: alpha(opacity=50);
            -moz-opacity: 0.5;
            -khtml-opacity: 0.5;
            opacity: 0.5;
            z-index: 10000;
            display: none;
            background: url('/Content/Images/loading_blue_n.gif') no-repeat center center black;
        }
    </style>
    <div id="wrapper">
        <div class="overlay">
        </div>
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion " id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Home/Index">
                <div class="sidebar-brand-icon ">
                    <img src="~/Content/img/1.png" width="55px" height="55px">
                </div>
                <div class="sidebar-brand-text ml-auto"><i class="fas fa-tools"></i></div>
            </a>



            <!-- Heading -->
            <li class="nav-item"><a href="#" onclick="showPersonalnfo(@id)" class="nav-link"><img src="~/Content/img/buyer-4.png" class="img-d-board"><span>Personal Information</span></a></li>
            <!-- Divider -->
            <!-- Sidebar Toggler (Sidebar) -->
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <!-- <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                      <div class="input-group">


                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">

                      </div>
                    </form> -->
                    <!-- Topbar Navbar -->

                    <div class="right-header">
                        <!-- Menu desktop -->
                        <div class="menu-desktop">
                            <ul class="main-menu ml-auto">
                                <li class="active-menu">
                                    <a href="/Home/Index">
                                        Home
                                    </a>

                                </li>
                                <li>
                                    <a href="/Home/Index/?page=chef">Discover Chefs</a>

                                </li>
                                <li>
                                    <a href="/Home/Index/?page=food">Discover Food</a>

                                </li>
                                <li>
                                    <a href="#">Packages</a>
                                    <ul class="sub-menu-2">

                                        <li><a href="#">Weekly</a></li>
                                        <li><a href="#">Monthly</a></li>

                                    </ul>

                                </li>
                                <li>
                                    <a href="/Home/Index/?page=seller" class="sellernav">How to Become a Seller?</a>

                                </li>

                                <li>
                                    <a href="#">About us</a>

                                </li>

                                <li>
                                    <a href="/Home/ContactUs">Contact us</a>

                                </li>
                            </ul>
                        </div>
                    </div>

                </nav>                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="containter-fluid maindashboard-pr-settings" id="Pr-settings">
                    @RenderBody()
                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>2019 Copyrights &copy; Tashty Food Inc.</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/New/js/address-history.js"></script>
    <script src="~/Content/New/vendor/jquery/jquery.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Content/New/js/sb-admin-2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/summernote.js"></script>
    <script type="text/javascript" src="~/Scripts/summernote-image-attributes.js"></script>
    <script type="text/javascript" src="~/Scripts/dropzone.js"></script> <!-- dropzone -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.toastmessage.js"></script>
    <script src=" ~/Content/vendor/sweetalert/lib/sweet-alert.min.js"></script>
    <script src="~/Content/vendor/toastr/toastr.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="~/Scripts/morris.js"></script>
    <script src="~/Scripts/mask.js"></script>
    <script src="~/Scripts/jquery.simplePagination.js"></script>
    <script src="~/Scripts/clipboard.js"></script>
    <script src="~/Scripts/fileinput.js"></script>
    <script src="~/Content/New/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="~/Scripts/selectpicker.js"></script>
    <script type="text/javascript" src="~/Scripts/selectize.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Tashty/main.js"></script>
    <script src="~/Content/New/js/main-2.js"></script>
    <script src="~/Scripts/ApplicationScript/Client/common.js"></script>
    @*<script type="text/javascript" src="~/Scripts/jquery.tablesorter.min.js"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>

    <script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>
    <!-- Page level plugins -->
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            showPersonalnfo('@id');
        })
        function showPersonalnfo(id) {
    blockUI();
    $.ajax({
        type: "GET",
        contentType: "html",
        url: '/Seller/PersonalInfoForRegistration?id='+ id,
        async: true,
        success: function (data) {
            $("#Pr-settings").html("");
            $("#Pr-settings").html(data);
            unblockUI();
        },
        error: function (jqXHR, textStatus, errorThrown) {
            handleErrors(textStatus);
        }
    });

}
    </script>
    <script src="~/Content/New/multiselect/js/BsMultiSelect.js"></script>
    <script src="~/Content/New/multiselect/js/bsmultisearch.js"></script>
</body>
</html>


