
@{
	ViewBag.Title = "Tashty | Change Password";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model TashtyWebProject.ViewModel.Login.ChangePassword

<!DOCTYPE html>
@*@Styles.Render("~/Content/fontStyle")
	@Styles.Render("~/Content/VendorStyle")
	@Styles.Render("~/Content/adminAppStyle")

	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/AdminScript")*@

@Styles.Render("~/Content/ChangePassword")
@Scripts.Render("~/bundles/ChangePassword")

@*<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Tashty Admin | Change Password</title>*@
<script type="text/javascript">
	$(function () {
		$("#txtPassword").keyup(function () {
			$('#pass_type').css("color", "");
			$('#meter_wrapper').show();
			check_pass();
		});
	});

	function redirect(response) {
		////;
		response = JSON.parse(response);

		if (response !== "" && response.error === undefined && response.type !== "SameOldPassword" && response.type !== "WrongOldPassword") {
			$('#pass_type').text("Password changed successfully.");
			$('#pass_type').css("color", "green");
			$('button[type="submit"]').text("submit").removeAttr('disabled');
			//	window.location.href = baseURL + response.redirectUrl;
		}
		else if (response.type == "WrongOldPassword") {
			//console.log(response.error, "Login Error");
			$('#pass_type').text("Old password is incorrect.");
			$('#pass_type').css("color", "red");
			$('button[type="submit"]').text("submit").removeAttr('disabled');
		}
		else if (response.type == "SameOldPassword") {
			//console.log(response.error, "Login Error");
			$('#pass_type').text("New password should be different from old password.");
			$('#pass_type').css("color", "red");
			$('button[type="submit"]').text("submit").removeAttr('disabled');
		}
		else if (response.type !== "ERROR") {
			console.log(response.type, "Change Password Warning");
			$('#pass_type').css("color", "red");
			$('button[type="submit"]').text("submit").removeAttr('disabled');
		}
	}

	function updateLoginButtonText(updateText) {
		if (updateText !== 'submit') {
			$('button[type="submit"]').text(updateText).attr('disabled', 'disabled');
		}
		else {
			$('button[type="submit"]').text(updateText).removeAttr('disabled');
		}
	}

	function onCompleteMessage(msg) {
		$('#meter_wrapper').hide();
		$('#pass_type').text(msg);
	}

</script>
@*</head>
	<body class="blank">*@
<div class="login-container">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center m-b-md">
				@*<h1><img src='@Url.Content("~/Content/images/Logo.png")' /></h1>*@
			</div>
			<div class="hpanel">
				<div class="panel-body">
					@using (Ajax.BeginForm("ChangePassword", "AdminLogin", new AjaxOptions
					{
						HttpMethod = "POST",
						OnBegin = "updateLoginButtonText('Processing...')",
						OnSuccess = "redirect(data);",
						OnComplete = "redirect(data);onCompleteMessage('Password Changed Successfully.'); setTimeout(function(){updateLoginButtonText('Submit')}, 2000);",
						OnFailure = "updateLoginButtonText('Submit');",
					}, htmlAttributes: new { autocomplete = "off", @class = "form-horizontal", name = "#changeform" }))
					{

						<h4 class="font-bold">Change Password</h4>
						<hr />
						<div class="form-group">
							<label class="control-label" for="OldPassword">Password</label>
							@Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", required = "true", value = "", title = "Please enter you username", placeholder = "*******" })
						</div>
						<div class="form-group">
							<label class="control-label" for="Password">New Password</label>
							@Html.PasswordFor(model => model.Password, new { @id = "txtPassword", @class = "form-control", required = "true", value = "", title = "Please enter your password", placeholder = "******" })
							<span class="help-block small">Password should contain a digit, capital letter,special character and small letter.It must be 6 character long.</span>
						</div>
						<div class="form-group">
							<span class="help-block small" id="pass_type"></span>
							<div id="meter_wrapper" style="display:none">
								<div id="meter"></div>
							</div>
						</div>
						<div class="d-flex">

						</div>
						<button type="submit" class="btn btn-success btn-block" disabled>Submit</button>

					}
				</div>
			</div>
		</div>
	</div>
	</div>

