@model TashtyWebProject.ViewModel.PackagesViewModel
@{
    int count = 0;
    int itemcount = 0;
    List<Entity.Package> Packages = Model.Packages;
}
<style>
    .badge {
        color: darkgray;
    }
</style>
<div class="containter-fluid maindashboard-pr-settings">
    <div class="container">
        <div class="size-a-1 flex-col-c-m p-b-48" style="padding-bottom:0%!important;">
            <!-- <div class="txt-center txt-m-201 cl10 how-pos1-parent m-b-14 f-s-17">
                FOOD ITEMS

                <div class="how-pos1">
                    <img src="images/icons/symbol-02.png" alt="IMG" class="h17p">
                </div>
            </div> -->

            <h3 class=" sel-h-s txt-center txt-l-101 cl3 respon1 f-s-30p">
                PACKAGES
            </h3>
        </div>

        <div class="row d-flex justify-content-center">
            @foreach (Entity.Package package in Packages)
            {
                <div class="card-pd">
                    <div class="mycard" style="width: 17rem;">
                        <div class="item">
                            <a href="#">
                                @if (System.IO.File.Exists(System.Web.HttpContext.Current.Server.MapPath("~/Uploads/Package/" + package.Image)))
                                {
                                    <img src="~/Uploads/Package/@package.Image" class="card-img-top" alt="...">
                                }
                                else
                                {
                                    <img src="~/Content/New/images/Icon Placeholder.png" class="card-img-top" alt="...">
                                }
                            </a>
                        </div>

                        <div class="mycard-body">
                            <div class="row d-flex justify-content-center">
                                <div class="col-8">
                                    <h5 class="mycard-title">@package.Name<br><p class="ct-text-black">@package.PackageType.ToString().Replace("1","Weekly").Replace("2","Monthly").Replace("0","")  <span class="ct-text-red"> </span></p></h5>
                                </div>
                                <div class="col-4">
                                    <p class="card-text">RS.<span class="s-card-text">@package.Price</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="starrating risingstar d-flex justify-content-left star-p">
                                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
                                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
                                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
                                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
                                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
                                        <p class="rating-text">&nbsp; &nbsp; 4.5 - 86 Ratings</p>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="ex-space"></div>
                        <div class="card-body-5 mycard-p-20">
                            <div class="row ">
                                <div class="col-md-12">
                                    @if (package.PackageType == 1)
                                    {
                                        <button type="button" class="btn btn-primary btn-xs bg-trans" onclick="AddEditWeeklyPackage(@package.PackageID)">Edit</button>
                                    }
                                    @if (package.PackageType == 2)
                                    {
                                        <button type="button" class="btn btn-primary btn-xs bg-trans" onclick="AddEditMonthlyPackage(@package.PackageID)">Edit</button>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="ex-space-2"></div>

                    </div>
                </div>

            }
        </div>


    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

