@{

    ViewBag.Title = "Tashty | My Profile";
    Layout = "~/Views/Shared/_LayoutBuyer.cshtml";
    int id = (int)ViewData["profileID"];
}
<section>
    <div class="container sectionspc">
        <div class="content animate-panel">
            <div class="row">
                <div class="col-md-3" style="">
                    <div class="hpanel panel-group">
                        <div id="notes" class="collapse">
                            <div class="panel-body note-link" style="border-top: 1px solid #e4e5e7;">
                                <a href="#note1" data-toggle="tab">
                                    <h5>Personal Info</h5>
                                </a>
                            </div>

                            <div class="panel-body note-link">
                                <a href="#note2" data-toggle="tab">
                                    <h5>
                                        Change Password
                                    </h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="tab-content">
                                <div id="note1" class="tab-pane active">
                                    @Html.Partial("_PersonalInfo")
                                </div>
                                <div id="note2" class="tab-pane">
                                    @Html.Partial("_ChangePassword")
                                </div>
                         
                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<script>

    var loadedPhotoURL = "";
    var customPhotoValidationFailed = false;

    document.getElementById("btnSubmitAllInfo").addEventListener("click", function () {

        document.getElementById("frmbuyProfile").className = "submitted";

    });

    document.getElementById("btnAddAddress").addEventListener("click", function () {

        document.getElementById("frmbuyAdd").className = "submitted";

    });

	var readURL = function (input) {

		if (input.files && input.files[0]) {
			var reader = new FileReader();

			reader.onload = function (e) {
				//$('.profile-photo').attr('src', e.target.result);
                loadedPhotoURL = e.target.result;
			}

			reader.readAsDataURL(input.files[0]);
		}
	}


	$("#fileProfilePhoto").on('change', function () {
		readURL(this);
	});

	var ListCities = [];
		reg.setProfileID(@ViewBag.profileID);


    $(document).ready(function () {

		ListCities = @Html.Raw(Json.Encode(ViewBag.ListCities));

        $("#hdnCountryID").val(@ViewBag.CountryID);
        _setSelect("ddlCountry", @ViewBag.CountryID);
        populateCities(@ViewBag.CountryID, ListCities, 'ddlCity');
        reg.GetBuyerInformation('@id');

		$('#ddlCity').on('change', function () {
			$("#hdnCityID").val(this.value);
		});

		$('#ddlCountry').on('change', function () {
			$("#hdnCountryID").val(this.value);
			populateCities(this.value, ListCities,'ddlCity');
		});

		$('#ddlAddressType').on('change', function () {
			$("#hdnAddressTypeID").val(this.value);
		});


        $("#frmbuyProfile").submit(function (e) {
            ;
            reg.SaveBuyerInfo(false,@ViewBag.CountryID);
        });

        $('#btnSaveInfo').on('click', function () {
            $('#btnSubmitAllInfo').trigger("click");
        });

		$("#fileProfilePhoto").fileinput({
			theme: 'fa',
			uploadUrl: baseURL + 'Buyer/UploadProfilePic',
			dropZoneEnabled:false,
			browseClass: "upload-button btn btn-primary",
			showPreview: false,
			overwriteInitial: false,
			showCaption: false,
			showRemove: false,
			showCancel: false,
			showUpload: false,
			browseLabel: "Upload Picture",
			//maxFileSize: 2000,
			allowedFileExtensions: ['jpg', 'png', 'gif'],
			maxFilesNum: 1,
			layoutTemplates: { progress: '' },
			//minFileCount: 1,
            maxFileSize: 100,
            msgSizeTooLarge: 'Profile photo "{name}" (<b>{customSize}</b>) exceeds maximum allowed upload size of <b>{customMaxSize}</b>. Please retry your upload!',
			uploadAsync: true,
					slugCallback: function (filename) {

						return filename.replace('(', '_').replace(']', '_');
					},
					uploadExtraData: function () {
						return {
							FolderID: String("1")
						};
					}
			
			});

		
    $('#fileProfilePhoto').on('fileuploaded', function (event, data, previewId, index) {
        $('.profile-photo').attr('src', loadedPhotoURL);
        _set("hdnPFFilename", data.response);
        customPhotoValidationFailed = false;
    });
    $('#fileProfilePhoto').on('fileuploaderror', function (event, data, msg) {
        customPhotoValidationFailed = true;
        var size = data.files[0].size,
            maxFileSize = $(this).data().fileinput.maxFileSize,
            formatSize = (s) => {
                i = Math.floor(Math.log(s) / Math.log(100));
                sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
                out = (s / Math.pow(100, i)).toFixed(2) * 1 + ' ' + sizes[i];
                return out;
            };

        msg = msg.replace('{customSize}', formatSize(size));
        msg = msg.replace('{customMaxSize}', formatSize(maxFileSize * 100 /* Convert KB to Bytes */));
        toastr.error(msg);
    });
    $('#fileProfilePhoto').on('fileselect', function (event, numFiles, label) {

        if (!customPhotoValidationFailed) {
            $("#fileProfilePhoto").fileinput("upload");
        }
        customPhotoValidationFailed = false;
    });

    });
	//$("#btnAddAddress").click(function () {
	//	//var valid = true;
	//	//valid = ValidateBuyerAddressFeilds();
	//	//if (!valid) return false;
	//	reg.AddAddressToList();

    //});
    $("#frmbuyAdd").submit(function (e) {
        e.preventDefault();
        reg.AddAddressToList();
    });


</script>
<script>

var readURL = function(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('.profile-photo').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }


    $(".file-upload").on('change', function(){
        readURL(this);
    });

    $(".upload-button").on('click', function() {
       $(".file-upload").click();
    });

	$.uploadPreview({
    input_field: ".image-upload",
    preview_box: ".image-preview",
    label_field: ".image-label"
  });


</script>
<script>
    $(document).ready(function () {

        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
        });

        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });
$('.carousel').carousel({
  interval: 5000,
  pause: false
})



    });
</script>
<script>
    $(document).ready(function(){

      $(window).scroll(function() { // check if scroll event happened
        if ($(document).scrollTop() > 100) { // check if user scrolled more than 50 from top of the browser window

          $(".navbar-fixed-top").css("background-color", "#fcfcfc"); // if yes, then change the color of class "navbar-fixed-top" to white (#f8f8f8)
          $('.logo').addClass('small-logo2');
		} else {
          $(".navbar-fixed-top").css("background-color", "#fcfcfc"); // if not, change it back to transparent
          $('.logo').removeClass('small-logo2');
		}
      });
    });
</script>
