<section class="steps-bg">
    <!--<img src="@Url.Content("~/Content/images/food-plate.png")" alt="leaves" class="leaves"> <img src="@Url.Content("~/Content/images/burger-img.png")" alt="burger" class="burger">-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-white">HOW TO ORDER?</h2>
                <p class="font24">Follow the <span class="text-success">Steps</span></p>
            </div>
        </div>
        <div class="row text-center">
            <div class="arrow dotted1" style="background-image:url(@Url.Content("~/Content/images/dotted-arrow.png"))"></div>
            <div class="col-md-3 col-sm-3">
                <div class="col-sm-12 p-sm">
                    <button class="btn btn-primary2 btn-circle btn-lg" type="button">1</button>
                </div>
                <h4><img src="@Url.Content("~/Content/images/location-icon.png")" /></h4>
                <div class="step-heading">Enter Location</div>

            </div>
            <div class="arrow dotted2" style="background-image:url(@Url.Content("~/Content/images/dotted-arrow.png"))"></div>
            <div class="col-md-3 col-sm-3">
                <div class="col-sm-12 p-sm">
                    <button class="btn btn-primary2 btn-circle btn-lg" type="button">2</button>
                </div>
                <h4><img src="@Url.Content("~/Content/images/restaurant.png")" /></h4>
                <div class="step-heading">Browse Menus</div>
            </div>
            <div class="arrow dotted3" style="background-image:url(@Url.Content("~/Content/images/dotted-arrow.png"))"></div>
            <div class="col-md-3 col-sm-3">
                <div class="col-sm-12 p-sm">
                    <button class="btn btn-primary2 btn-circle btn-lg" type="button">3</button>
                </div>
                <h4><img src="@Url.Content("~/Content/images/order-icon.png")"></h4>
                <div class="step-heading"> Place Order</div>

            </div>
            <div class="arrow dotted3" style="background-image:url(@Url.Content("~/Content/images/dotted-arrow.png"))"></div>
            <div class="col-md-3 col-sm-3">
                <div class="col-sm-12 p-sm">
                    <button class="btn btn-primary2 btn-circle btn-lg" type="button">3</button>
                </div>
                <h4><img src="@Url.Content("~/Content/images/order-icon.png")"></h4>
                <div class="step-heading"> Place Order</div>

            </div>
            <div class="col-md-3 col-sm-3">
                <div class="col-sm-12 p-sm">
                    <button class="btn btn-primary2 btn-circle btn-lg" type="button">4</button>
                </div>
                <h4><img src="@Url.Content("~/Content/images/delivery-icon.png")" /></h4>
                <div class="step-heading">Wait for Delivery</div>
            </div>
        </div>
    </div>
</section>
