@model TashtyWebProject.ViewModel.DiscoveredChefsViewModel
@{
    int count = 1;
    var activeClass = "";
    int AllSellerCount = 1;
    List<Entity.Seller> sellers = Model.AllSellers;
    int i = 0;
}
<link href="~/Content/New/css/glider.css" rel="stylesheet" />
<style>
    .badge-dark {
        right: -15px !important;
        width: auto !important;
    }
    /*Glider.css*/


    .glider-contain {
        width: 90%;
        max-width: 997px;
        margin: 0 auto;
    }

    .glider-slide {
        min-height: 150px;
        margin-right: 0.7%!important;
        margin-left: 0.7%!important;
    }


        .glider-slide img {
            width: 100%;
        }

    /*glider.css end*/
</style>
<script>
    $(document).ready(function () {
        console.log("ready!");
    });

    window._ = new Glider(document.querySelector('.glider'), {
        slidesToShow: 1, //'auto',
        slidesToScroll: 1,
        itemWidth: 150,
        draggable: true,
        scrollLock: false,
        dots: '#dots',
        rewind: true,
        arrows: {
            prev: '.glider-prev',
            next: '.glider-next'
        },
        responsive: [
            {
                breakpoint: 800,
                settings: {
                    slidesToScroll: 'auto',
                    itemWidth: 235,
                    slidesToShow: 'auto',
                    exactWidth: true
                }
            },
            {
                breakpoint: 700,
                settings: {
                    slidesToScroll: 4,
                    slidesToShow: 4,
                    dots: false,
                    arrows: false,
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToScroll: 3,
                    slidesToShow: 3
                }
            },
            {
                breakpoint: 500,
                settings: {
                    slidesToScroll: 2,
                    slidesToShow: 2,
                    dots: false,
                    arrows: false,
                    scrollLock: true
                }
            }
        ]
    });
    var glider = new Glider(document.getElementById('glider'));

    function sliderAuto(slider, miliseconds) {
        const slidesCount = slider.track.childElementCount;
        let slideTimeout = null;
        let nextIndex = 1;

        function slide() {
            slideTimeout = setTimeout(
                function () {
                    if (nextIndex >= slidesCount) {
                        nextIndex = 0;
                    }
                    slider.scrollItem(nextIndex++);
                },
                miliseconds
            );
        }

        slider.ele.addEventListener('glider-animated', function () {
            window.clearInterval(slideTimeout);
            slide();
        });

        slide();
    }

    sliderAuto(glider, 6000)

</script>
<div class="size-a-1 flex-col-c-m p-t-35">
    <div class="txt-center txt-m-201 cl10 how-pos1-parent m-b-14 f-s-17">
        Featured Products
        <div class="how-pos1">
            <img src="~/Content/images/icons/symbol-02.png" alt="IMG" class="h17p">
        </div>
    </div>

    <h3 class=" sel-h-s txt-center txt-l-101 cl3 respon1 f-s-30p">
        POPULAR SELLERS FOR YOU
    </h3>
</div>
<div class="container-fluid">
    <div class="">
        @*<div class="">
            <div class="glider-contain">
                <div class="glider">
                    <div class="card-pd">
                        <div class="mycard" style="width: 17rem;">
                            <div class="item">
                                <a href="#">
                                    <span class="notify-badge">45 Mins</span>
                                    <img src="images/cards-images.jpg" class="card-img-top" alt="...">
                                </a>
                            </div>

                            <div class="mycard-body">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-8">
                                        <h5 class="mycard-title">Banoffee Pie1<br><p class="ct-text-black">by<span class="ct-text-red"> The Dessert Coffee</span></p></h5>
                                    </div>
                                    <div class="col-4">
                                        <p class="card-text">RS.<span class="s-card-text">375</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="starrating risingstar d-flex justify-content-left star-p">
                                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
                                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
                                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
                                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
                                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
                                            <p class="rating-text">&nbsp; &nbsp; 4.5 - 86 Ratings</p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="card-body-3">
                                <div class="row d-flex justify-content-center ">
                                    <div class="col">
                                        <p class="pd-top icon-txt"> <span class="micro-2">2</span>Serves 2</p>
                                    </div>
                                    <div class="col">
                                        <img src="images/micro.png" class="card-img-top img-style" alt="..."> <p class="icon-txt">350 grams</p>
                                    </div>
                                    <div class="col">
                                        <img src="images/micro-2.png" class="card-img-top img-style" alt="..."> <p class="icon-txt">Dessert</p>
                                    </div>
                                </div>

                            </div>
                            <div class="mycard-body">
                                <div class="starrating risingstar d-flex justify-content-left  border-red">
                                    &nbsp;&nbsp;<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>&nbsp;&nbsp;<p class="text-border">Earliest Delivery:Friday at 1:00 pm</p>
                                </div>
                            </div>
                            <div class="card-body-5 mycard-p-20">
                                <div class="row ">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary btn-xs">Add to Cart</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="card-pd">
                        <div class="mycard" style="width: 17rem;">
                            <div class="item">
                                <a href="#">
                                    <span class="notify-badge">45 Mins</span>
                                    <img src="images/cards-images.jpg" class="card-img-top" alt="...">
                                </a>
                            </div>

                            <div class="mycard-body">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-8">
                                        <h5 class="mycard-title">Banoffee Pie<br><p class="ct-text-black">by<span class="ct-text-red"> The Dessert Coffee</span></p></h5>
                                    </div>
                                    <div class="col-4">
                                        <p class="card-text">RS.<span class="s-card-text">375</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="starrating risingstar d-flex justify-content-left star-p">
                                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
                                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
                                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
                                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
                                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
                                            <p class="rating-text">&nbsp; &nbsp; 4.5 - 86 Ratings</p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="card-body-3">
                                <div class="row d-flex justify-content-center ">
                                    <div class="col">
                                        <p class="pd-top icon-txt"> <span class="micro-2">2</span>Serves 2</p>
                                    </div>
                                    <div class="col">
                                        <img src="images/micro.png" class="card-img-top img-style" alt="..."> <p class="icon-txt">350 grams</p>
                                    </div>
                                    <div class="col">
                                        <img src="images/micro-2.png" class="card-img-top img-style" alt="..."> <p class="icon-txt">Dessert</p>
                                    </div>
                                </div>

                            </div>
                            <div class="mycard-body">
                                <div class="starrating risingstar d-flex justify-content-left  border-red">
                                    &nbsp;&nbsp;<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>&nbsp;&nbsp;<p class="text-border">Earliest Delivery:Friday at 1:00 pm</p>
                                </div>
                            </div>
                            <div class="card-body-5 mycard-p-20">
                                <div class="row ">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary btn-xs">Add to Cart</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="card-pd">
                        <div class="mycard" style="width: 17rem;">
                            <div class="item">
                                <a href="#">
                                    <span class="notify-badge">45 Mins</span>
                                    <img src="images/cards-images.jpg" class="card-img-top" alt="...">
                                </a>
                            </div>

                            <div class="mycard-body">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-8">
                                        <h5 class="mycard-title">Banoffee Pie2<br><p class="ct-text-black">by<span class="ct-text-red"> The Dessert Coffee</span></p></h5>
                                    </div>
                                    <div class="col-4">
                                        <p class="card-text">RS.<span class="s-card-text">375</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="starrating risingstar d-flex justify-content-left star-p">
                                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
                                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
                                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
                                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
                                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
                                            <p class="rating-text">&nbsp; &nbsp; 4.5 - 86 Ratings</p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="card-body-3">
                                <div class="row d-flex justify-content-center ">
                                    <div class="col">
                                        <p class="pd-top icon-txt"> <span class="micro-2">2</span>Serves 2</p>
                                    </div>
                                    <div class="col">
                                        <img src="images/micro.png" class="card-img-top img-style" alt="..."> <p class="icon-txt">350 grams</p>
                                    </div>
                                    <div class="col">
                                        <img src="images/micro-2.png" class="card-img-top img-style" alt="..."> <p class="icon-txt">Dessert</p>
                                    </div>
                                </div>

                            </div>
                            <div class="mycard-body">
                                <div class="starrating risingstar d-flex justify-content-left  border-red">
                                    &nbsp;&nbsp;<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>&nbsp;&nbsp;<p class="text-border">Earliest Delivery:Friday at 1:00 pm</p>
                                </div>
                            </div>
                            <div class="card-body-5 mycard-p-20">
                                <div class="row ">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary btn-xs">Add to Cart</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="card-pd">
                        <div class="mycard" style="width: 17rem;">
                            <div class="item">
                                <a href="#">
                                    <span class="notify-badge">45 Mins</span>
                                    <img src="images/cards-images.jpg" class="card-img-top" alt="...">
                                </a>
                            </div>

                            <div class="mycard-body">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-8">
                                        <h5 class="mycard-title">Banoffee Pie3<br><p class="ct-text-black">by<span class="ct-text-red"> The Dessert Coffee</span></p></h5>
                                    </div>
                                    <div class="col-4">
                                        <p class="card-text">RS.<span class="s-card-text">375</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="starrating risingstar d-flex justify-content-left star-p">
                                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
                                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
                                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
                                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
                                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
                                            <p class="rating-text">&nbsp; &nbsp; 4.5 - 86 Ratings</p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="card-body-3">
                                <div class="row d-flex justify-content-center ">
                                    <div class="col">
                                        <p class="pd-top icon-txt"> <span class="micro-2">2</span>Serves 2</p>
                                    </div>
                                    <div class="col">
                                        <img src="images/micro.png" class="card-img-top img-style" alt="..."> <p class="icon-txt">350 grams</p>
                                    </div>
                                    <div class="col">
                                        <img src="images/micro-2.png" class="card-img-top img-style" alt="..."> <p class="icon-txt">Dessert</p>
                                    </div>
                                </div>

                            </div>
                            <div class="mycard-body">
                                <div class="starrating risingstar d-flex justify-content-left  border-red">
                                    &nbsp;&nbsp;<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>&nbsp;&nbsp;<p class="text-border">Earliest Delivery:Friday at 1:00 pm</p>
                                </div>
                            </div>
                            <div class="card-body-5 mycard-p-20">
                                <div class="row ">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary btn-xs">Add to Cart</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="card-pd">
                        <div class="mycard" style="width: 17rem;">
                            <div class="item">
                                <a href="#">
                                    <span class="notify-badge">45 Mins</span>
                                    <img src="images/cards-images.jpg" class="card-img-top" alt="...">
                                </a>
                            </div>

                            <div class="mycard-body">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-8">
                                        <h5 class="mycard-title">Banoffee Pie4<br><p class="ct-text-black">by<span class="ct-text-red"> The Dessert Coffee</span></p></h5>
                                    </div>
                                    <div class="col-4">
                                        <p class="card-text">RS.<span class="s-card-text">375</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="starrating risingstar d-flex justify-content-left star-p">
                                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
                                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
                                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
                                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
                                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
                                            <p class="rating-text">&nbsp; &nbsp; 4.5 - 86 Ratings</p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="card-body-3">
                                <div class="row d-flex justify-content-center ">
                                    <div class="col">
                                        <p class="pd-top icon-txt"> <span class="micro-2">2</span>Serves 2</p>
                                    </div>
                                    <div class="col">
                                        <img src="images/micro.png" class="card-img-top img-style" alt="..."> <p class="icon-txt">350 grams</p>
                                    </div>
                                    <div class="col">
                                        <img src="images/micro-2.png" class="card-img-top img-style" alt="..."> <p class="icon-txt">Dessert</p>
                                    </div>
                                </div>

                            </div>
                            <div class="mycard-body">
                                <div class="starrating risingstar d-flex justify-content-left  border-red">
                                    &nbsp;&nbsp;<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>&nbsp;&nbsp;<p class="text-border">Earliest Delivery:Friday at 1:00 pm</p>
                                </div>
                            </div>
                            <div class="card-body-5 mycard-p-20">
                                <div class="row ">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary btn-xs">Add to Cart</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="card-pd">
                        <div class="mycard" style="width: 17rem;">
                            <div class="item">
                                <a href="#">
                                    <span class="notify-badge">45 Mins</span>
                                    <img src="images/cards-images.jpg" class="card-img-top" alt="...">
                                </a>
                            </div>

                            <div class="mycard-body">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-8">
                                        <h5 class="mycard-title">Banoffee Pie5<br><p class="ct-text-black">by<span class="ct-text-red"> The Dessert Coffee</span></p></h5>
                                    </div>
                                    <div class="col-4">
                                        <p class="card-text">RS.<span class="s-card-text">375</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="starrating risingstar d-flex justify-content-left star-p">
                                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
                                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
                                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
                                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
                                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
                                            <p class="rating-text">&nbsp; &nbsp; 4.5 - 86 Ratings</p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="card-body-3">
                                <div class="row d-flex justify-content-center ">
                                    <div class="col">
                                        <p class="pd-top icon-txt"> <span class="micro-2">2</span>Serves 2</p>
                                    </div>
                                    <div class="col">
                                        <img src="images/micro.png" class="card-img-top img-style" alt="..."> <p class="icon-txt">350 grams</p>
                                    </div>
                                    <div class="col">
                                        <img src="images/micro-2.png" class="card-img-top img-style" alt="..."> <p class="icon-txt">Dessert</p>
                                    </div>
                                </div>

                            </div>
                            <div class="mycard-body">
                                <div class="starrating risingstar d-flex justify-content-left  border-red">
                                    &nbsp;&nbsp;<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>&nbsp;&nbsp;<p class="text-border">Earliest Delivery:Friday at 1:00 pm</p>
                                </div>
                            </div>
                            <div class="card-body-5 mycard-p-20">
                                <div class="row ">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary btn-xs">Add to Cart</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <button class="glider-prev">&laquo;</button>
                <button class="glider-next">&raquo;</button>
                <div id="dots"></div>
            </div>


        </div>*@
        <div class="glider-contain">
                <div id="glider" class="glider">

                    @foreach (var item in Model.PopularSellers)
                    {
                        if (count == 1)
                        {
                            activeClass = "active";
                        }
                        else
                        {
                            activeClass = "";
                        }



                        <div class="panel">
                            @{
                                var filePath = "Uploads/Logo/" + item.logo;
                                var absolutePath = System.Web.HttpContext.Current.Server.MapPath("~/" + filePath);
                            }

                            @if (System.IO.File.Exists(absolutePath))
                            {
                                @Html.Raw("<div class='panel-thumbnail th-" + @count + "' style='background-image:linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(0,0,0,1)), url(/Uploads/Logo/" + @item.logo + "'>");
                            }
                            else
                            {
                                @Html.Raw("<div class='panel-thumbnail th-" + @count + "'  style='background-image:linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(0,0,0,1)), url('/Content/New/images/Icon Placeholder.png')>");
                            }
                            <a href="#" title="image 1" class="thumb">
                                <div class="card-body scroll-card-img">
                                    <h5 class="card-title"><img src="~/Content/images/dish-p.png" alt="dish-p" class="h-img w-img"></h5>
                                    <h6 class="card-subtitle mb-2 text-mutedd">@item.displayTitle</h6>
                                </div>
                            </a>
                        </div>

                        @Html.Raw("</div>");




                        count = count + 1;
                    }

                </div>

                <button aria-label="Previous" class="glider-prev">«</button>
                <button aria-label="Next" class="glider-next">»</button>
                <div role="tablist" class="dots"></div>
            </div>
        @*<div class="carousel slide multi-item-carousel" id="theCarousel">
                <div class="carousel-inner row w-100 mx-auto">
                    @foreach (var item in Model.PopularSellers)
                    {
                        if (count == 1)
                        {
                            activeClass = "active";
                        }
                        else
                        {
                            activeClass = "";
                        }
                            <div class="carousel-item col-md-4 @activeClass" onclick="ChefDetail(@item.profileID)">
                                <div class="panel">
                                    @{
                                        var filePath = "Uploads/Logo/" + item.logo;
                                        var absolutePath = System.Web.HttpContext.Current.Server.MapPath("~/" + filePath);
                                    }

                                    @if (System.IO.File.Exists(absolutePath))
                                    {
                                        @Html.Raw("<div class='panel-thumbnail th-" + @count + "' style='background-image:linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(0,0,0,1)), url(/Uploads/Logo/" + @item.logo + "'>");
                                    }
                                    else
                                    {
                                        @Html.Raw("<div class='panel-thumbnail th-" + @count + "'  style='background-image:linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(0,0,0,1)), url('/Content/New/images/Icon Placeholder.png')>");
                                    }
                                    <a href="#" title="image 1" class="thumb">
                                        <div class="card-body scroll-card-img">
                                            <h5 class="card-title"><img src="~/Content/images/dish-p.png" alt="dish-p" class="h-img w-img"></h5>
                                            <h6 class="card-subtitle mb-2 text-mutedd">@item.displayTitle</h6>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            @Html.Raw("</div>");
                        count = count + 1;
                    }
                    <a class="carousel-control-prev" href="#theCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#theCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>*@
    </div>
</div>

<section id="featured-chefs">
    <div class="sec-product bg0 p-t-40">
        <div class="container">
            <div class="size-a-1 flex-col-c-m p-b-28">
                <div class="txt-center txt-m-201 cl10 how-pos1-parent m-b-14 f-s-17">
                    Featured Sellers

                    <div class="how-pos1">
                        <img src="~/Content/images/icons/symbol-02.png" alt="IMG" class="h17p">
                    </div>
                </div>
                <h3 class="txt-center txt-l-101 cl3 respon1 f-s-30p">
                    DISCOVER ALL SELLERS
                </h3>
            </div>

            <div class="container carddd">

                <div class="row">
                    @for (i = 0; i < sellers.Count; i++)
                    {
                        if (i == 9)
                        {
                            break;
                        }
                        var filePath = "Uploads/Logo/" + sellers[i].logo;
                        var absolutePath = System.Web.HttpContext.Current.Server.MapPath("~/" + filePath);
                        <a onclick="ChefDetail(@sellers[i].profileID)">
                            <div class="col-xs-4 columnn imagecardx">
                                <span class="badge badge-dark dark-p">@sellers[i].SellerMeals.Count Dishes</span>
                                @if (System.IO.File.Exists(absolutePath))
                                {
                                    @Html.Raw(" <div class='cardd cr-1' style='background-image:linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(0,0,0,1)), url(/Uploads/Logo/" + @sellers[i].logo + "'>");
                                }
                                else
                                {
                                    @Html.Raw(" <div class='cardd cr-1' style='background-image:linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(0,0,0,1)), url('')");
                                }
                                <img src="~/Content/images/dish-p.png" alt="dish-p" class="imagecard">
                                <div class="arrow-right">
                                    <span>Great<br>Cheff</span>
                                </div>
                                <h3>@sellers[i].displayTitle</h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="starrating risingstar d-flex justify-content-center star-0p">
                                            <input type="radio" id="star5" name="rating" value="5"><label for="star5" title="5 star"></label>
                                            <input type="radio" id="star4" name="rating" value="4"><label for="star4" title="4 star"></label>
                                            <input type="radio" id="star3" name="rating" value="3"><label for="star3" title="3 star"></label>
                                            <input type="radio" id="star2" name="rating" value="2"><label for="star2" title="2 star"></label>
                                            <input type="radio" id="star1" name="rating" value="1"><label for="star1" title="1 star"></label>
                                            <p class="rating-text-w">&nbsp; &nbsp; 4.5 - 86 Ratings</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        @Html.Raw("</div>");
                    }
                </div>

            </div>
            </a>

        </div>
    </div>
</section>
<div class="container-fluid icons-featured ">
    <div class="row x-discover d-flex justify-content-center">

        <div class="row ">

            <div class="col-sm-6 iconsrow-x bd-none">
                <img src="~/Content/images/logo/icon-5.png" alt="icon-5" style="float: left;">
                <h6> Free Shipping </h6>
                <p> All orders over $100</p>
            </div>
            <div class="col-sm-6 iconsrow-x">
                <img src="~/Content/images/logo/icon-6.png" alt="icon-6" style="float: left;">
                <h6> Customer Support </h6>
                <p> Very Helpful Support 24/7</p>
            </div>
            <div class="col-sm-6 iconsrow-x bd-none">
                <img src="~/Content/images/logo/icon-7.png" alt="icon-7" style="float: left;">
                <h6> Help Partners </h6>
                <p> Serviced Made With Love</p>
            </div>
            <div class="col-sm-6 iconsrow-x">
                <img src="~/Content/images/logo/search2.png" alt="search-02" style="float: left;">
                <h6>100% Organic </h6>
                <p> Available Quality Foods</p>
            </div>
        </div>

    </div>
</div>
<!-- Product -->
<div class="sec-product bg0 ">
    <div class="container">
        <div class="container carddd">
            <div class="row">
                @for (i = 9; i < sellers.Count; i++)
                {
                    if (i == 15)
                    {
                        break;
                    }
                    var filePath = "Uploads/Logo/" + sellers[i].logo;
                    var absolutePath = System.Web.HttpContext.Current.Server.MapPath("~/" + filePath);
                    <a onclick="ChefDetail(@sellers[i].profileID)">
                        <div class="col-sm-4 columnn imagecardx">
                            <span class="badge badge-dark dark-p">@sellers[i].SellerMeals.Count Dishes</span>
                            @if (System.IO.File.Exists(absolutePath))
                            {
                                @Html.Raw(" <div class='cardd cr-1' style='background-image:linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(0,0,0,1)), url(/Uploads/Logo/" + @sellers[i].logo + "'>");
                            }
                            else
                            {
                                @Html.Raw(" <div class='cardd cr-1' style='background-image:linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(0,0,0,1)), url(/Content/New/images/Icon Placeholder.png>");
                            }
                            <img src="~/Content/images/dish-p.png" alt="dish-p" class="imagecard">
                            <div class="arrow-right">
                                <span>Great<br>Cheff</span>
                            </div>
                            <h3>@sellers[i].displayTitle</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="starrating risingstar d-flex justify-content-center star-0p">
                                        <input type="radio" id="star5" name="rating" value="5"><label for="star5" title="5 star"></label>
                                        <input type="radio" id="star4" name="rating" value="4"><label for="star4" title="4 star"></label>
                                        <input type="radio" id="star3" name="rating" value="3"><label for="star3" title="3 star"></label>
                                        <input type="radio" id="star2" name="rating" value="2"><label for="star2" title="2 star"></label>
                                        <input type="radio" id="star1" name="rating" value="1"><label for="star1" title="1 star"></label>
                                        <p class="rating-text-w">&nbsp; &nbsp; 4.5 - 86 Ratings</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    @Html.Raw("</div>");
                }
            </div>
            @if (Model.SellersCount > 15)
            {
                <!-- pager -->
                if (Model.Pager.EndPage > 1)
                {
                    <div class="pagination-div">
                        <ul class="pagination justify-content-center">
                            @if (Model.Pager.CurrentPage > 1)
                            {
                                <li class="page-item">
                                    <button class="page-link" onclick="DiscoverChefsResults(1)">First</button>
                                </li>
                                <li class="page-item">
                                    <button class="page-link" onclick="DiscoverChefsResults(@(Model.Pager.CurrentPage - 1))">Previous</button>
                                </li>
                            }

                            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                            {
                                <li class="@(page == Model.Pager.CurrentPage ? "active" : "") page-item">
                                    <button class="page-link" onclick="DiscoverChefsResults(@page)">@page</button>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                            {
                                <li class="page-item">
                                    <button class="page-link" onclick="DiscoverChefsResults(@(Model.Pager.CurrentPage + 1))">Next</button>
                                </li>
                                <li class="page-item">
                                    <button class="page-link" onclick="DiscoverChefsResults(@(Model.Pager.TotalPages))">Last</button>
                                </li>
                            }
                        </ul>
                    </div>
                }
            }

        </div>
    </div>

</div>




